.input {
  &:focus ~ label,
  &:not(:placeholder-shown) ~ label {
    top: 0;
    color: #7ca339;
    font-size: 12px;
  }

  &:not(:focus) ~ label {
    color: #ccc;
  }

  &:focus {
    border-color: #7ca339;
  }
}
