.headerContainer {
  @apply min-h-[70px]
         flex 
         justify-between 
         items-center 
         transition-all 
         duration-200
         md:min-h-[90px];
}

.logo {
  @apply hidden
         text-white 
         text-xl
         font-bold
         sm:text-3xl
         min-[400px]:block;
}

.nav {
  @apply fixed
         bottom-0
         left-0
         w-full
         h-[50px]
         bg-[#162850]
         sm:static
         sm:w-auto
         sm:bg-transparent;
}

.menuList {
  @apply h-full
         flex
         justify-around
         items-center
         sm:gap-[25px];
}
